<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Paciente</title>
</head>
<body>
<h1>Lista de Pacientes</h1>
<tr th:each="paciente, i: ${pacientes}">
    <br>
    <p th:text="${'====================PACIENTE ID: ' + paciente.id + '===================='}"></p>
    <p th:text="${'Nome: ' + paciente.nome + ' ' + paciente.sobrenome}"></p>
    <p th:text="${'E-mail: ' + paciente.email}"></p>
    <p th:text="${'CPF: ' + paciente.cpf}"></p>
    <br>
</tr>
<td th:text="${nome}"></td>
<td th:text="${sobrenome}"></td>
</body>
</html>